@font-face { font-family: 'Poppins'; font-weight: 300; font-style: normal; src: url('poppins-300.woff2') format('woff2'); }
@font-face { font-family: 'Poppins'; font-weight: 400; font-style: normal; src: url('poppins-400.woff2') format('woff2'); }
@font-face { font-family: 'Poppins'; font-weight: 600; font-style: normal; src: url('poppins-600.woff2') format('woff2'); }
@font-face { font-family: 'Poppins'; font-weight: 700; font-style: normal; src: url('poppins-600.woff2') format('woff2'); }
